{% extends "base.html" %}

{% block title_head %}
<title>Editar televisor</title>
{% endblock title_head %}

{% block h1_header %}
Editar Televisor
{% endblock h1_header %}

{% block main %}
<p>
    <b>Ingrese los datos del televisor</b>
</p>


<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{formulario.media}}
        {{formulario_tv}}
    </table>
    <li class="list-inline-item"> </li>
    <input type="submit" value="Editar">
    <li class="list-inline-item"> </li>
    <input type="button" onclick="history.back()" name="Volver" value="Volver">
</form>

{% endblock main %}