{% extends "base.html" %}

{% block title_head %}
<title>Editar heladera</title>
{% endblock title_head %}

{% block h1_header %}
Editar Heladera
{% endblock h1_header %}

{% block main %}
<p>
    <b>Ingrese los datos de la heladera:</b>
</p>


<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <li class="list-inline-item"> </li>
    <input type="submit" value="Editar">
    <li class="list-inline-item"> </li>
    <input type="button" onclick="history.back()" name="Volver" value="Volver">
</form>

{% endblock main %}