{% extends "base.html" %}

{% block title_head %}
<title>Eliminar heladera</title>
{% endblock title_head %}

{% block h1_header %}
Eliminar heladera
{% endblock h1_header %}

{% block main %}

<form action="" method="POST">
    {% csrf_token %}
    Desea eliminar la heladera {{heladera.id}} - {{heladera.marca}} - {{heladera.modelo}} - {{heladera.precio}}?
    <li class="list-inline-item"> </li>
    <input type="submit" value="Aceptar">
    <li class="list-inline-item"> </li>
    <input type="button" onclick="history.back()" name="Volver" value="Volver">
</form>

{% endblock main %}