{% extends "base.html" %}

{% block title_head %}
<title>Cambiar Password</title>
{% endblock title_head %}

{% block h1_header %}
Cambiar Password
{% endblock h1_header %}

{% block main %}

<form action={% url "cambiar_password" %} method="POST">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <li class="list-inline-item"> </li>
    <input type="submit" value="Cambiar">
    <li class="list-inline-item"> </li>
    <input type="button" onclick="history.back()" name="Volver" value="Volver">
</form>

{% endblock main %}