{% extends "base.html" %}

{% block title_head %}
<title>Editar perfil</title>
{% endblock title_head %}

{% block h1_header %}
Editar perfil
{% endblock h1_header %}

{% block main %}

<form action={% url "editar_perfil" %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{formulario_edicion}}
    </table>
    <li class="list-inline-item"> </li>
    <input type="submit" value="Editar">
    <li class="list-inline-item"> </li>
    <input type="button" onclick="history.back()" name="Volver" value="Volver">
</form>
<li class="list-inline-item"> </li>
<h6>Si desea cambiar su contraseña haga click aquí: <a href={% url "cambiar_password" %}>Cambiar contraseña</a></h6>

{% endblock main %}