{% extends "base.html" %}

{% block title_head %}
<title>Login</title>
{% endblock title_head %}

{% block h1_header %}
Iniciar Sesión
{% endblock h1_header %}

{% block main %}

<form action={% url "login" %} method="POST">
    {% csrf_token %}
    <table>
        {{formulario_ingreso}}
    </table>
    
    <li class="list-inline-item"> </li>
    <input type="submit" value="Iniciar Sesión">
    <li class="list-inline-item"> </li>
    <input type="button" onclick="history.back()" name="Volver" value="Volver">

</form>

{% endblock main %}